/* Barra de Navegacion */
.nav{
    @extend .d-flex, .fj-space-between, .ai-center, .fw-wrap, .p-sticky, .p-3;
    top: 0;
    background: linear-gradient($first, $second);
    button.icon-toggle{
        @extend .d-md-none;
    }
    &-menu{
        @extend .d-md-flex, .col-12, .m-0, .p-0, .g-2, .list-unstyled;
        max-height: 0;
        overflow: hidden;
        &.active{
            max-height: 100vh;
        }
        @media screen and (min-width: 768px){
            width: auto;
            max-height: 100vh;
        }
    }
}